*{
    margin: 0;
    padding: 0;
    border: none;
}

:root{
    --main-brown-color:#8c7667;
    --main-dark-color:#010101;
    --main-light-color:#f4ecd7;
    --secondary-gray-color:#3f3f3f;
    --secondary-dark-color:#191512;
    --secondary-red-color:#fb0002;
}

body{
    display: flex;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:100px;
    background-color: var(--main-brown-color);
    height: 100vh;
    width: 30vw;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-dark-color);
    height: 100vh;
    width: 35vw;
    color: var(--main-light-color);
}

section{
    display: flex;
}

.section-bottom > .coluna{
    border-radius: 5px;
    cursor: pointer;
}

.section-bottom > .coluna:hover{
    background-color: var(--secondary-red-color);
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-dark-color);
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    color: white;
}
