*{
    margin: 0;
    padding: 0;
    border: none;
}

:root{
    --main-brown-color:#8c7667;
    --main-dark-color:#010101;
    --main-light-color:#f4ecd7;
    --secondary-gray-color:#3f3f3f;
    --secondary-dark-color:#191512;
    --secondary-red-color:#fb0002;

    --lamb-dice-container-primary-color:#403b35;
    --lamb-dice-container-secondary-color:#24231f;
    --lamb-dice-container-shadow-color:#1c1a14;

    --rataun-dice-container-primary-color:#363d39;
    --rataun-dice-container-secondary-color:#101211;
    --rataun-dice-container-shadow-color:#131915;
}

body{
    display: flex;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:100px;
    background-color: var(--main-brown-color);
    height: 100vh;
    width: 30vw;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-dark-color);
    height: 100vh;
    width: 35vw;
    color: var(--main-light-color);
    padding: 80px;
    box-sizing: border-box;
}

.eyes-gif{
    width: 100%;
    height: 200px;
}

.lamb-dice-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    background-color: var(--lamb-dice-container-secondary-color);
    border: 20px solid var(--lamb-dice-container-primary-color);
    box-sizing: border-box;
    margin-bottom: 35px ;
    font-size: 2rem;
}

.lamb-dice-container::after{
    content: " ";
    display: block;
    position: absolute;
    width: 250px;
    height: 35px;
    background-color: var(--lamb-dice-container-shadow-color);
    bottom: -55px;
    right: -20px;
}

.rataun-dice-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    height: 150px;
    background-color: var(--rataun-dice-container-secondary-color);
    border: 20px solid var(--rataun-dice-container-primary-color);
    box-sizing:border-box;
    font-size: 2rem;
}

.rataun-dice-container::after{
    content: " ";
    display: block;
    position: absolute;
    width: 250px;
    height: 35px;
    background-color: var(--rataun-dice-container-shadow-color);
    bottom: -55px;
    right: -20px; 
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gif{
    height: 200px;
    width: 250px;
    object-fit:none;
}

section{
    display: flex;
}

.section-bottom > .coluna{
    border-radius: 5px;
    cursor: pointer;
}

.section-bottom > .coluna:hover{
    background-color: var(--secondary-red-color);
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-dark-color);
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    color: white;
}
